
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.nav-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #0a0e1434;
    z-index: 800;
    color: #fff;
}

.nav {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.nav-link {
    position: relative;
    color: #fff;
    font-size: medium;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}

.nav-link span {
    position: relative;
    transition: margin 0.4s;
}

.nav-link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease-out;
}

.nav-link:hover span {
    margin-left: 2.5rem;
}

.nav-link:hover i {
    opacity: 1;
    visibility: visible;
}
  
  .nav-link:hover span::after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: relative;
        top: 0;
        background-color: #0a0e1434;
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        transition: left 0.4s;
    }

    .nav-item {
        transform: translateX(-150px);
        transition: transform 0.4s ease-out, visibility 0.4s;
    }
}
